.footer {
  height: 200px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);

  &--dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  &__text {
    font-size: 20px;
    font-weight: 100;
  }
}
