.header {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  height: 80px;
  font-family: Montserrat-Alternates;
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &--dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
}