@import "../../styles/mixins"; 

.home {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding-bottom: 40px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    height: 200px;
    margin: 0 auto 20px;
  }

  &__title {
    padding-top: 20px;
    text-align: center;
    color: var(--secondary-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-cat-fact {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &--dark {
    color: var(--main-color);
    background-color: var( --primary-color);
  }
  
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__image {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-circle {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: var(--main-color);
      border-radius: 50%;
    }
  }
}

.mode {
  height: 40px;
  width: 80px;
  background-color: var(--secondary-color);
  border-radius: 60px;
  border: 1px solid var(--not-active);
  position: relative;
  transition: left 0.3s ease;


  &__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);

    &--dark {
      left: 40px;
    }
  }
}
