@import "../../../styles/mixins.scss"; 

.zodiac {
  background-color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 600px;
  color: var(--main-color);
  padding-inline: 15px;


  @include on-tablet {
    height: 300px;
  }

  &__title {
    font-size: 28px;
    text-align: center;
  }

  &__section {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__description {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;

    &-list {
      list-style: none;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover; 
    overflow: hidden;
  }
}
